{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <script src="https://kit.fontawesome.com/d26bb3691d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <input id="box-user" type="hidden" value={{ user }}>
                        <input id="box-user-id" type="hidden" value={{ request.user.id }}> 
                        <a id="user-link" class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong id="user-link">Visitor</strong></a>
                        <input id="box-user" type="hidden" value="Visitor"> 
                        <input id="box-user-id" type="hidden" value="Visitor">
                    </li>
                {% endif %}
                <li id="all-posts" class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li id="all-authors" class="nav-item">
                        <a class="nav-link" href="#">All Authors</a>
                    </li>
                    <li id="following" class="nav-item">
                        <a class="nav-link" href="#">Following</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          {% if user.is_authenticated %}
        <button class="open-button" onclick="new_post()">New 
            <br> post</button>
        
        <div class="form-popup" id="myForm">
            <form action="#" id="my-form" class="form-container">
                <div>
                    <h3 id="post-title"></h3>   
                </div>
                <div>      
                    <textarea id="post" class="post-text" placeholder="" name="post" required></textarea>
                </div>
                <div id="form-buttons">                
                    <button type="submit" id="send" class="post-btn" title="Send">
                        <i class="fas fa-share"></i>
                    </button>
                    <button type="button" id="close" class="post-btn cancel" title="Close" onclick="closeForm()">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </form>
        </div>
        {% endif %}
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>


    </body>
</html>