#posts_view {
    background-color: snow;
}

.post-style {
    background-color: antiquewhite !important;
}

.span-icon, .profile-icon{
    font-size: 1.3rem;
}

.icon-m, .follow-icon{
    font-size: 1.6rem;
}

.span-icon:hover{
    color: goldenrod;
    font-size: 1.5rem;
    cursor: pointer;
}

.profile-icon:hover{
    color: goldenrod;
    cursor: pointer;
}

.follow-icon:hover{
    color: goldenrod;
    font-size: 1.8rem;
    cursor: pointer;
}

.span-red {
    color: tomato;
}

.span-black {
    color: black;
}

.span-green {
    color: lawngreen !important;
}

.span-blue {
    color: powderblue;
}

.span-orange {
    color: orange;
}

.user-style {
    width: 33% !important;
    display: inline-flex;
    
}

.user-row {
    display: inline-flex;
}

.user-icon {
    font-size: 3rem;
    border-radius: 100%;
}