{% extends "layout.html" %}
{% load static %}

{% block body %}
    <h1>hey</h1>
    <div id=data>

    </div>

    <script>
        const ws = new WebSocket('ws://127.0.0.1:8000/ws/polData/');
        ws.onopen = () => {
            console.log('contected');
        };

        ws.onmessage = e => {
            const msg = JSON.parse(e.data);
            console.log(msg);
            const $data = document.createElement('li');
        $data.innerHTML = 'state:  ' + msg.call + '    room: ' + msg.value;
        document.getElementById('data').appendChild($data);
        };

        ws.onerror = e => {
            console.log(e);
        };

        ws.onclose = e => {
            console.log('closed');
            console.log(e);
        };

    </script>

{% endblock %}
</html>