{% extends "layout.html" %}
{% load static %}

{% block body %}
    <h1>Rooms</h1>
    <div class="container w-100" id=body-container>
        <div id="head-row" class="row d-flex my-4 p-1 text-center">
            <div class="col shadow-lg bg-light rounded"><h3>Tasks</h3></div> 
            <div class="col-8 shadow-lg bg-light rounded"><h3>Rooms Sketch</h3></div>
            <div class="col shadow-lg bg-light rounded"><h3>Calls</h3></div>
        </div>
        <div id="room-row" class="row">
            <div id="programed-tasks" class="col shadow-lg bg-light rounded"></div>
            <div id="rooms-sketch" class="col-9"></div>
            <div id="calls" class="col shadow-lg bg-light rounded"></div>
        </div>

    </div>
{% endblock %}
</html>